
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1-12">
      <h1 style="text-align: center; font-weight: bold;">{{title}}</h1>
      <br><br>
      <form class="form-group row">
        <div class="form-group" class="col col-md-3">
          <label for="">Nombre:</label>
          <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese su nombre" aria-describedby="helpId" [(ngModel)]="txtNombre"/>
          <small id="helpId" *ngIf="txtNombre.length < 2" class="text-muted">El nómbre debe tener mínimo 2 caracteres</small>
        </div>
        <div class="form-group" class="col col-md-3">
          <label for="">Apellidos:</label>
          <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese su apellido" aria-describedby="helpId" [(ngModel)]="txtApellidos"/>
          <small id="helpId" class="text-muted">El nómbre debe tener mínimo 2 caracteres</small>
        </div>
        <div class="form-group" class="col col-md-3">
          <label for="">Cargo:</label>
          <input type="text" name="cargo" id="cargo" class="form-control" placeholder="Ingrese su cargo" aria-describedby="helpId" [(ngModel)]="txtCargo"/>
          <small id="helpId" class="text-muted">El nómbre debe tener mínimo 2 caracteres</small>
        </div>
        <div class="form-group" class="col col-md-3">
          <label for="">Salario:</label>
          <input type="text" name="salario" id="salario" class="form-control" placeholder="Ingrese su salario" aria-describedby="helpId" [(ngModel)]="txtSalario"/>
          <small id="helpId" class="text-muted">El nómbre debe tener mínimo 2 caracteres</small>
        </div>
        <div class="col-xs-1-12">
          <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">    
    <p *ngIf="registrado; else sinRegistrar">{{mensaje}}  con el nombre de {{txtNombre}} {{txtApellidos}} y tiene el cargo de <span [ngStyle]="{color: txtCargo == 'red' ? 'diseñador' : 'black'}">{{txtCargo}}</span> </p>
  </div>
  <ng-template #sinRegistrar>
    <p>Nadie registrado</p>
  </ng-template>
</div>
<app-app-empleado-hijo-c *ngFor="let empleado of empleados; let i = index" [empleadoDeLista]="empleado" [indice]="i">

</app-app-empleado-hijo-c>

